.signin{
    box-shadow: 3px 3px 7px 7px;
    width: 47vw;
    height: 56vh;
    border-radius: 20px;
    display: flex;
    margin-left: 25vw;
    margin-top: 14vh;
  }
  
  .signin-image-signin{
    height: 62vh;
    /* margin-top: 13vh; */
    margin-left: -13vw;
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  
  .signin-form-si{
    display: flex;
    flex-direction: column;
    margin-left: 37vw;
    margin-top: -61vh;
  }
  /* 
  .form-title-signin{
    margin-top: -3vh;
      margin-left: 20vw;
      margin-bottom: 2vh;
  } */
  
  
  .signin-for{
    margin-left: -11vw;
    margin-top: 4.5vh;
  }
  
  .form-signin-group{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
    margin-top: 5vh;
  }
  
  .form-signin-group-form-button{
    margin-top: auto;
    margin-left: -2vw;
  }
  
  .signin-image-link{
    margin-top: -4vh;
  }
  .accountcol{
      margin-top:-5vh
  }
  .buttonSig{
    margin-top: 4vh;
  }
